*{
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

a{
    text-decoration: none;
}

nav ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-size: 125px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    text-shadow: 0 1px 0 #999, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000000;
}

#HS{
    background-color: rgb(0, 0, 0);     
}

h2,h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

span {
    
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #999, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000000;
}

header {
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding-top: 80px;
}

body {
    
    background: url("./Images/BG.png");
    background-color: black;
    background-blend-mode: screen;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    padding: 2em;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#about, #quiz {
    width: auto;
    height: 400px;
}

nav ul {
    
    font-size: 25px;
    justify-content: space-around;
    background: #222;    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;   
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}  

nav ul li{
    font-variant: small-caps;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
ul li:hover {
    background-color:#5be4ad;
    color: rgb(16, 17, 19);
    cursor: pointer;
}

img{
    width: 300px;
}

.result-head{
    margin-top: 0.5em;
    font-size: 60px;
    text-align: center;
}

.char-single-result{
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-template-rows: 1fr 10%;
    border-radius: 20px;
    background-color: rgba(0,0,0,.7);
    padding-bottom: 2em;
}


.single-char-name{
    margin-left: 1em;
    text-align: left;
    font-family: 'Josefin-sans', sans-serif;
}
.char-blurb{
    margin-left: 2em;
    margin-top: 2em;
    font-family: 'Josefin-sans', sans-serif;
    font-size: 20px;
    line-height: 2em;
}

.char-single-result img{
    width: auto;
    height: 400px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    margin-left: 2em;
    justify-self: right;
    margin-right: 2em;
}

.char-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.char-other-result{
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
}

.char-other-result img{
    width:150px;
}

.single-char-group{
    display: flex;
    flex-direction: row;
    justify-items: center;

}
.single-char-info{
    display: flex;
    flex-direction: column;
}

.imgNameOther{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-char{
    float: left;
    width: 33.33%;
    margin: 5px;
    border: solid 2px lightgrey;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}
.single-char:hover{
    background-color: #5be4ad;
    border: solid 5px lightgrey;
}

#quiz_body {
    background-color: black;
    border-width: 20px;
    width: auto;
    height: 800px;
}


.about p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin: 20px;
    color: white;
    text-decoration: none;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 3em;
    text-decoration: none;
}

#developers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#developers a{
    
    text-decoration: none;
}
#developers p:hover{
    color: #5be4ad;
    cursor: pointer;
}

#aboutTheGame{
    background: #222;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
    
#devTitle{
    display: flex;
    justify-content: center;
}

#devName{
    margin-top: 3em;
    width: 600px;
    background: #222;
    border-radius: 16px;

}

#quizHeader > h1{
    font-size: 40px;
    
}

#quizHeader{
    padding-bottom: 40px;
}

.Question_Head {
    background-color: rgba(0, 0, 0, 0.0); 
    color: lightgrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    display: flex;
    border: 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.QuestionSeparator{
    padding-top: 3em;
}


.entireQuestionBox{
    background-color: transparent;
    border-radius: 16px;
    width: 100%;
    max-height: 300px;
    scroll-behavior: smooth;
}

.Question_Container{
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1em;  
    margin-bottom: 2em;
}

.Question_Choices {
    padding: 0 10px;
    overflow: hidden;
    outline: none;
    display: flex;
    flex-flow: column;  
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.Question_Choices a{
    text-decoration: none;
}

#subroleOptions p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    font-style: italic;
}

.quiz-button{
  font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    z-index: 0;
    cursor: pointer;
    padding: 15px 25px;
    width: 640px;    
    border-radius: 5px;
    background-color: #111;
    color: lightgrey;
    border: solid 2px;
    display: flex;    
}

.take-quiz{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 25%;
    font-size: 40px;
}

.quiz-button:hover{
    color: black;
    outline: none;
    background-color: #5be4ad;
    border-color: #5be4ad;
}

.quiz-button:hover *{
    filter: invert(0%);
}

.quiz-button:focus{
    background-color: #5be4ad;
    color: black;
    border-color: #5be4ad;
    outline: none;
}
.quiz-button:focus *{
    filter: invert(0%);
}

.quiz-button:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 6px;
    background-color: transparent;
}

.quiz-button img{
    width: auto;
    height: 100px;
    filter: invert(100%)
}

.quiz {
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 16px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.quiz p:hover {
    color: black;
    transition: all 1.5s ease;
}

.quiz:hover {
    background-color: darkgray;
    transition: all 1.5s ease;
}

#submit {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.games {
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding: 30px;
}

.select h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.choose{
    font-size: 80px;
} 

.main-flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 2em;
}
.main-flex img{
    width: 400px;
    align-self: center;
}
.main-flex .select{
    display: flex;
    height: 100%;
    border: solid rgba(0,0,0,0);
    padding-left: 3em;
    padding-right: 3em;
}

.main-flex .select:hover{
    cursor: pointer;
    border: solid #fff;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}

.name {
   text-decoration: none;
   color: white;
   font-weight: bold;
}

.single-char-container{
    margin: 0 auto;
    margin-top: 4em;
    width: 80%;
}
.single-char-container iframe{
    display: grid;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 2em;
    border-radius: 5px;
}

.ow_single-char{
    height: 500px;
    width: auto;
    position: absolute;
    top: 8em;
    right: 6em;
}

.ow_lore{
    font-family: 'Josefin-sans', sans-serif;
    padding-left: 1em;
    padding-right: 15em;
    padding-top: 1em;
    
    display: grid;
    grid-template-columns: 1fr 80%;
}

.ow_textbox, .ow_abilities{
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    left: 3em;
    width: 100%;
}

.ow_abilities .single-ability{
    width: 50%;
}



.lol_single-char{
    width: 80%;
    position: absolute;
    top: 5em;
    left: 10%;
    z-index: -1;
    border-radius: 10px;
}
.lore{
    font-family: 'Josefin-sans', sans-serif;
    background-color: rgba(0,0,0,.5);
    padding-left: 2em;
    border-radius: 5px;
}

.abilities{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 2em;
    margin-bottom: 4em;
    width: 45%;
    height: 80%;
}

.single-ability{
    display: grid;
    background-color: rgba(0,0,0,.5);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
}

.single-ability h4{
    font-family: 'Russo One', sans-serif;
}

.single-ability p{
    font-family: 'Josefin-sans', sans-serif;
}
#allGames{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.allGames{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 2em;

}
.gameList img{
    width: 400px;
    align-self: center;
   
}
.lotsGames{
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding: 30px;
}
.allGames .gameList{
    
    display: flex;
    height: 100%;
    border: solid rgba(0,0,0,0);
    padding-left: 3em;
    padding-right: 3em;
}
    
.allGames .gameList:hover{
    cursor: pointer;
    border: solid #fff;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
} 

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.buttons a{
    display: flex;
    justify-content: center;
}

.buttons a button{
    width: 50%;
}

.allChar, .switch-game{
    align-items: center;
    width: 50%;
}


.item1{
	position: absolute;
    display: flex;
	top: 1em;  
    width: 80%;  
    padding-left: 304px;
    font-size: 100px;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.item4{
	position: absolute;
    display: flex;
	top: 1em;  
    width: 80%;  
    padding-left: 304px;
    font-size: 100px;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item1 img, .item4 img{
    width: 350px;
}


.item2{
	position: absolute;
    display: block;
    text-align: left;
    right: 100px;    
    top: 1em;   
    width: 100%;  
    font-size: 4em;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.item5{
	position: absolute;
    display: block;
    text-align: left;
    right: 100px; 
    top: 1em; 
    width: 100%;  
    font-size: 4em;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.item3{
    position: absolute;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 400px;   
	top: 10em;  
    animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.item6{
    position: absolute;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 350px;   
	top: 7em;  
    animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.item7{
    position: absolute;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;   
	top:12em;  
    animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.item8{
    position: absolute;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 350px;   
	top: 7em;   
    animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item1{
	animation-name: anim-1;
}

.item2{
	animation-name: anim-2;
}
.item3{
	animation-name: anim-3;
}
.item4{
	animation-name: anim-4;
}

.item5{
	animation-name: anim-5;
}
.item6{
	animation-name: anim-6;
}
.item7{
	animation-name: anim-7;
}
.item8{
	animation-name: anim-8;
}


@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 15%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0.1%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 18%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0.1%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 38%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-4 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 15%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 18%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-6 {
	0%, 60% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 2%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
@keyframes anim-7 {
	0%, 60% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 28%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
@keyframes anim-8 {
	0%, 60% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 72%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}



.slider-button{
    display: flex;
    justify-content: center;
    margin-top: 14.5em;
    width: 95%
}

.home-quiz-button{
    width: 20%;
    font-size: 30px;
    margin-top: 4.5em;
}

.gameDescription{
    width: 85%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px lightgrey;

}
.iframe{
    margin-right: 50px;
    height: auto;
    border-radius: 10px;
    border: solid 2px lightgrey;
}
.gameimg{
    padding-right: 60px;
    padding-top: 30px;
}
.image-and-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-and-desc p{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2em;
}

.image-and-desc img{
    width: 30%;
    height: auto;
}

  .random-char{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      padding-bottom: 15px;
  }

  .single-button{
      display: flex;
      margin-top: 3.5em;
  }
  .single-button div{
      display: grid;
    grid-gap: 20px;
  }
  .single-button a{
      text-decoration: none;
  }

  
  .char-all{
    
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
}
      

  .single-char{
      width: 150px;
  }
  .imageAndName{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Josefin Sans', sans-serif;
      padding-top: 40px;
      padding-left: 20px;
      padding-right:20px;
      
    }
    .char-all-box{

      display: flex;   
        flex-direction: row;
        flex-wrap: wrap;
    }

    .allChar{
    display: flex;
    flex-direction: row;
    justify-items: center;
    }

    .single-game-button{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 25px;
    }
    


