*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    /* text-shadow: 10px 10px 5px lightgrey; */
}
h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
/* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */
}
span {

    font-size: 40px;
    font-family: 'Grenze', serif;
    font-weight: bold;
    /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */
}
header{
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding-top: 80px;
}
body{
    background-image:url("./Images/red-and-blue.jpg");
    color: #fff;
}
#about, #quiz{
    width: auto;
    height: 400px;
}
ul{
    padding-top:10px;
    padding-bottom: 30px;
    font-size: 25px;
    justify-content: space-around;
    
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    background:#003333; 
    font-family: 'Grenze', serif;
   
    /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */

   
}

.Question_Container{
  border-style: outset;
  border-color: #2b1661;
  width: auto;
  height: 800px;
  text-align: center;
  border-width: 20px; 

}

 .Question_Choices{
    padding-top: 2em;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
} 


.Question_Head{
    padding: 2em 2em;
}

.option,
.submit-button {
    height: 200px;
    width: 300px;
    font-size: 24px; 
    background-color: black;
    margin: 20px; 
    font-weight: bold;

}

.option p, .submit-button p {
    color: white;
}

.option:hover, .submit-button:hover {
    background-color: darkgray;    
} 
  .option p:hover, .submit-button p:hover {
     color: black;
     transition: all 1.5s ease;
 } 
   
h2 {
    font-size: 36px;
}
 
