*{
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
nav ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-size: 125px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#HS{
    background-color: rgb(0, 0, 0);     
}

h2,h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

span {
    
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

header {
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding-top: 80px;
}

body {
    
    background: url("./Images/BG.png");
    background-color: black;
    background-blend-mode: screen;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    padding: 2em;
}

#about, #quiz {
    width: auto;
    height: 400px;
}

nav ul {
    padding-top:10px;
    padding-bottom: 15px;
    font-size: 25px;
    justify-content: space-around;
    /* background-image:(#92dcbe #4c7062);  
    /*background: linear-gradient(to bottom, #222, #a1cfbea1 100%);    */
     background: #3c6b58;    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;   
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}  

nav ul li{
    font-variant: small-caps;
    font-family: 'Josefin Sans', sans-serif;
}
ul li:hover {
    background-color:#5be4ad;
    color: rgb(16, 17, 19);
    cursor: pointer;
    transition-delay: .3s;
    border-radius: 4px;
                    
}

img{
    width: 300px;
}

.char-single-result{
    padding-top: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.char-single-result img{
    width:300px;
}

.char-other-result{
    /* padding-top: 1em; */
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
}

.char-other-result img{
    width:150px;
}

.single-char-group{
    display: flex;
    flex-direction: row;
    justify-items: center;

}

#quiz_body {
    background-color: black;
    border-width: 20px;
    width: auto;
    height: 800px;
}


.about p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    
    }

    #developers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #aboutTheGame{
        background: #222;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
    }
    
#devTitle{
    display: flex;
    justify-content: center;
}

    #devName{
        margin-top: 3em;
        width: 600px;
        background: #222;
        border-radius: 16px;

}

#quizHeader > h1{
    font-size: 25px;
}

.Question_Head {
    background-color: black; 
    color: lightgrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    display: flex;
    border: 10px;
/* border-color: white; */
}

.entireQuestionBox{
    background-color: black;
    border-radius: 16px;
    width: 100%;
    max-height: 300px;
}

.Question_Choices {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: black;  
    outline: none;
    justify-content: center;
    
}

.quiz-button{
  font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    padding: 15px 20px;
    border-width: 10px;
    border-radius: 50%;
    background: transparent;
    color: black;
    border-color: transparent;
}

.quiz-button:hover{
    color: lightgray;
    opacity: 0.75;
    outline: none;
}

.quiz-button:focus{
    opacity: 0.75;
    color: lightgray;
    outline: none;
}

.quiz-button:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*   background-image: linear-gradient(73deg,           transparent 0%, orange 100%); */
    content: '';
    border-radius: 6px;
    transform: skewX(-30deg);
    background-image: linear-gradient(#B8831E,  #C8A935, #B8831E,  #D7CB6E );
}

.quiz {
    color: white;
    /* background-color: black; */
    width: 100px;
    height: 50px;
    border-radius: 16px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.quiz p:hover {
    color: black;
    transition: all 1.5s ease;
}

.quiz:hover {
    background-color: darkgray;
    transition: all 1.5s ease;
}

#submit {
    text-align: center;
}

.submit-button {
    display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
    margin: 0, auto;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    padding: 15px 20px;
    border-width: 10px;
    border-radius: 50%;
    background: transparent;
    color: black;
    border-color: transparent;

}
.submit-button:hover{
    color: lightgray;
    opacity: 0.75;
    outline: none;
    }

.submit-button:focus{
    opacity: 0.75;
    color: lightgray;
    outline: none;
    }

.submit-button:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*   background-image: linear-gradient(73deg,           transparent 0%, orange 100%); */
    content: '';
    border-radius: 6px;
    transform: skewX(-30deg);
    background-image: linear-gradient(#B8831E,  #C8A935, #B8831E,  #D7CB6E );
    }

.games {
    display: flex;    
    flex-direction: column; 
    align-items: center;
    padding: 30px;
    }

.select h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.pick {
    text-decoration: underline;
} 

.name {
   text-decoration: none;
   color: white;
   font-weight: bold;
}






